/* styles.css */

@font-face {
    font-family: 'YourCustomFont';
    src: url('fonts/your-custom-font.woff2') format('woff2'),
         url('fonts/your-custom-font.woff') format('woff');
    /* Add additional font formats if needed */
}
.container {
    width: 80%; /* 80% of the parent element's width */
    font-size: 1.2em; /* 1.2 times the default font size */
}
/* Default styles for larger screens */
body {
    font-size: 16px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}



body {
    font-family: 'YourCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    ;
}
#particles-js {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Flexbox example */
.flex-container {
    display: flex;
    justify-content: space-between;
}

/* Grid example */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}


nav {
    background-color:transparent;
    padding: 10px;
    position:fixed;
    top: 0;
    right: 0;
    }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#Home {
    margin: 50px;
    padding: 40px;
    position: fixed;
    background-color: white;
    top: 110px;
    left: 800px;
    border-radius: 50px;
    justify-content:space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#p1{
    color:white;
    font-size: 25px;
}

h2, h3 {
    color: #333;
}
.nav-link {
    cursor: pointer;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

h3 {
    color: #555;
}
#Name h4 {
    color: white;
    display: flex;
    padding: 20px;
    font-size: 35px;
    margin-bottom: 10px;
}
#Name{
    margin:50px;
    padding:50px;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    position:fixed;
    justify-content:space-between;

}


ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
